<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.0/zephyr/bootstrap.min.css" integrity="sha512-4hshmZC4nWxAKC1H3MJBd2uRv+gRBkcBODzZoj3Jzd0XrF+osekpAAI1W7ASmMTuSKzrq+3xDoTfNU2sbNK67w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Weather App</title>
</head>
<body>
  
  <br /><br /> <br>
  <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
    <h1 class="display-5">Weather App </h1>
    <h3>Shynhsiri</h3>
    <h5>Using Python Language and Django Framework</h5>

    <img src="{% static 'images/weather-rain.png' %}" class="image" style="width:100px; margin-bottom:10px; ">
  </div>

  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <form method="post" class="form-inline mx-lg-auto">
      {% csrf_token %}
      <div class=" input-group ">

      <input type="text" class="form-control me-sm-2 " name="city" placeholder="Choose Your City ...">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary my-2 my-sm-0">Search</button>
      </div>
      </div>
      <form>
  </nav>
  <br> <br>
  <div class="row">
    {% if id and country_code and temp %}
    <div class="col d-flex justify-content-center" ">
      <div class="card text-white bg-primary mb-3" style="max-width: 70%;">
      <div class=" card-body">
        <h4><span class="badge badge-primary">Country ID :</span> {{id}}</h4>
        <h4><span class="badge badge-primary">Country Code :</span> {{country_code}}</h4>
        <h4><span class="badge badge-primary">Temperature in Celsius :</span> {{temp}}</h4>
        <h4><span class="badge badge-primary">Forecast : </span> {{main}} <img
            src="http://openweathermap.org/img/w/{{icon}}.png" alt="Image" style="width:70px"></h4>
        <h4><span class="badge badge-primary">Description : </span> {{description}}</h4>
      </div>
      {% endif %}
    </div>
</body>
</html>
